<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Sakura</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LogServlet</display-name>
    <servlet-name>LogServlet</servlet-name>
    <servlet-class>com.bhis.sakura.servlet.LogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogServlet</servlet-name>
    <url-pattern>/LogServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserSignupServlet</display-name>
    <servlet-name>UserSignupServlet</servlet-name>
    <servlet-class>com.bhis.sakura.servlet.UserSignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserSignupServlet</servlet-name>
    <url-pattern>/UserSignupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MerchantSignupServlet</display-name>
    <servlet-name>MerchantSignupServlet</servlet-name>
    <servlet-class>com.bhis.sakura.servlet.MerchantSignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MerchantSignupServlet</servlet-name>
    <url-pattern>/MerchantSignupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchByNameServlet</display-name>
    <servlet-name>SearchByNameServlet</servlet-name>
    <servlet-class>com.bhis.sakura.servlet.SearchByNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchByNameServlet</servlet-name>
    <url-pattern>/SearchByNameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowDetailServlet</display-name>
    <servlet-name>ShowDetailServlet</servlet-name>
    <servlet-class>com.bhis.sakura.servlet.ShowDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowDetailServlet</servlet-name>
    <url-pattern>/ShowDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchByTypeServlet</display-name>
    <servlet-name>SearchByTypeServlet</servlet-name>
    <servlet-class>com.bhis.sakura.servlet.SearchByTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchByTypeServlet</servlet-name>
    <url-pattern>/SearchByTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCollectServlet</display-name>
    <servlet-name>AddCollectServlet</servlet-name>
    <servlet-class>com.bhis.sakura.servlet.AddCollectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCollectServlet</servlet-name>
    <url-pattern>/AddCollectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCollectServlet</display-name>
    <servlet-name>DeleteCollectServlet</servlet-name>
    <servlet-class>com.bhis.sakura.servlet.DeleteCollectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCollectServlet</servlet-name>
    <url-pattern>/DeleteCollectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailSubmitServlet</display-name>
    <servlet-name>DetailSubmitServlet</servlet-name>
    <servlet-class>com.bhis.sakura.servlet.DetailSubmitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailSubmitServlet</servlet-name>
    <url-pattern>/DetailSubmitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowShoppingCartServlet</display-name>
    <servlet-name>ShowShoppingCartServlet</servlet-name>
    <servlet-class>com.bhis.sakura.servlet.ShowShoppingCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowShoppingCartServlet</servlet-name>
    <url-pattern>/ShowShoppingCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PurchaseServlet</display-name>
    <servlet-name>PurchaseServlet</servlet-name>
    <servlet-class>com.bhis.sakura.servlet.PurchaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurchaseServlet</servlet-name>
    <url-pattern>/PurchaseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MerchantLogServlet</display-name>
    <servlet-name>MerchantLogServlet</servlet-name>
    <servlet-class>com.bhis.sakura.servlet.MerchantLogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MerchantLogServlet</servlet-name>
    <url-pattern>/MerchantLogServlet</url-pattern>
  </servlet-mapping>
</web-app>